.hero-section {
    position: relative;
    height: 800px;
    background-image: url("../img/yasintha-perera-W6lQ5zFV8xQ-unsplash\ \(1\).jpg");
    background-size: cover;
}
.hero-container {
    width: 400px;
    margin: 200px 0 0 400px;
}
.hero-title {
    margin-bottom: 40px;
    color: #fff;
    font-size: 47px;
    font-weight: bold;
}
.hero-text {
    margin-bottom: 40px;
    color: #fff;
    font-size: 18px;
       
}

.featured-section {
    position: relative;
    height: 800px;
    padding-top: 20px;
    background-color: rgb(40, 38, 38);
}