.page-header-logo {
    position: absolute;
    width: 250px;
    padding: 20px 0 20px 20px;
    background-color: gold;
}
.page-header-logo__text {
    color: black;
    font-size: 22px;
    font-weight: bold;
}
.page-header-list {
    display: flex;
    justify-content: flex-end;
}
.page-header-item{
    padding: 0 40px 0 40px;
}
.page-header-item:not(:last-child) {
    border-right: 2px solid gray;
}
.page-header-link {
    color: #fff;
}
.page-header-link:hover {
    color: gray;
}
.page-header-link:focus {
    color: gray;
}