.side-bar{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 150px 60px 0 60px;

    background-color: rgba(56, 56, 56, 0.4);
}
.side-bar-item:not(:last-child) {
    margin-bottom: 25px;
}
.side-bar-link {
    color: rgb(169, 169, 169);
}
.side-bar-link:hover {
    color: #fff;

}
.side-bar-link:focus {
    color: #fff;
}
.side-bar-link__active {
    color: #fff;
}
.side-bar-link__active:after {
content: "     ----------"
}