.page-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gold;
    padding-top: 25px;
    padding-bottom: 25px;
}
.page-footer-logo {
    color: black;
    font-size: 28px;
    font-weight: bold;
}
.page-footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-footer-socials li+li {
    margin-left: 10px;
}
.page-footer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: gold;
}
.icon-socials {
    width: 20px;
    height: 20px;
}